@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cell {
  width: 24px;
  height: 24px;
  font-family: monospace;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 110%;
}

.closed {
  background-color: #c6c6c6;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
}

.opened {
  background-color: #c6c6c6;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
}

.cell-2::before {
  color: green;
  content: '2';
}

.cell-2::before {
  color: green;
  content: '3';
}

.cell-2::before {
  color: green;
  content: '4';
}

.cell-2::before {
  color: green;
  content: '5';
}

.cell-2::before {
  color: green;
  content: '6';
}

.cell-2::before {
  color: green;
  content: '7';
}

.cell-2::before {
  color: green;
  content: '8';
}